# Regressor: 1. Import data set

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df['Gender'] = np.where(df['Gender'] == 'Male', 1, 0)

In [5]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

# Regressor: 2. Separate x(Gender, Height) and y (y=Weight)

In [6]:
x = df.drop('Weight', axis=1)
y = df[['Weight']]

In [7]:
x.head()

   Gender     Height
0       1  73.847017
1       1  68.781904
2       1  74.110105
3       1  71.730978
4       1  69.881796

In [8]:
y.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

In [9]:
df.shape

(8555, 3)

# Regressor: 3. Train = 70%, Test = 30%

In [10]:
import numpy as np
from sklearn.model_selection import train_test_split

In [11]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.30, random_state=0)

In [12]:
xtrain.shape

(5988, 2)

In [13]:
xtest.shape

(2567, 2)

# Regressor: 4. Apply Linear Regression

In [14]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [15]:
lr = LinearRegression()

In [16]:
lr.fit(xtrain, ytrain)

LinearRegression()

In [17]:
lr.predict([[1,69]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[186.78832817]])

In [18]:
df['predicted_Weight'] = lr.predict(x)
df.head()

   Gender     Height      Weight  predicted_Weight
0       1  73.847017  241.893563        215.675400
1       1  68.781904  162.310473        185.488528
2       1  74.110105  212.740856        217.243344
3       1  71.730978  220.042470        203.064312
4       1  69.881796  206.349801        192.043622

In [19]:
df['Gender'] = np.where(df['Gender'] == 1, 'Male', 'Female')
df.head()

  Gender     Height      Weight  predicted_Weight
0   Male  73.847017  241.893563        215.675400
1   Male  68.781904  162.310473        185.488528
2   Male  74.110105  212.740856        217.243344
3   Male  71.730978  220.042470        203.064312
4   Male  69.881796  206.349801        192.043622

# Regressor: 5. Evaluate the Model (Testing and training Accuracy, MSE for testing)

In [20]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest, lr.predict(xtest))
mse

102.30154155088867

# 6. Apply KNN Regressor:

In [21]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.30, random_state=0)

In [22]:
from sklearn.neighbors import KNeighborsRegressor
y_neigh = KNeighborsRegressor(n_neighbors=100)

In [23]:
y_neigh.fit(xtrain, ytrain)

KNeighborsRegressor(n_neighbors=100)

In [24]:
y_neigh.predict([[1,69]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([[185.43682604]])

In [25]:
df['predicted_Weight'] = y_neigh.predict(x)
df.head()

  Gender     Height      Weight  predicted_Weight
0   Male  73.847017  241.893563        214.572181
1   Male  68.781904  162.310473        185.047956
2   Male  74.110105  212.740856        216.796387
3   Male  71.730978  220.042470        202.793194
4   Male  69.881796  206.349801        192.948384

# 7. Evaluate the Model (Testing and training Accuracy, MSE for testing)

In [26]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest, y_neigh.predict(xtest))
mse

107.7627941322304

# 8. Compare KNN & Linear regression with the KNN model and Linear regression as well.

Whereas Linear Regression is less than KNN Regression according to mse, mse value close to zero is better, So in this case Linear Regression is better than  KNN Regression